.section {
  padding: 6rem 0 4rem 0;
  color: #ccd6f6;
  max-width: 800px;
}

.job {
  margin-bottom: 3rem;
}

.tags {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background-color: #233554;
  color: #ffffff;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  font-size: 0.875rem;
}
